<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node"  output="screen" >
    <param name="video_device" value="/dev/video0" />

    <!-- Parameters for Microsoft cameras -->
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />

    <!-- Parameters for Logitech cameras -->
    <!-- <param name="image_width" value="640" /> -->
    <!-- <param name="image_height" value="472" /> -->

    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
  </node>
  <node name="detector_node" pkg="mouth_detector" type="detector_node.py" required="true" output="screen">
  </node>
</launch>
